<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="metal-core-xmlMapper" class="metal.core.mapper.XmlMapper" p:modelRegistry-ref="metal-core-modelRegistry"/>
	<bean id="metal-core-jsonMapper" class="metal.core.mapper.JsonMapper" p:modelRegistry-ref="metal-core-modelRegistry"/>
	<bean id="metal-core-contentMapper" class="metal.core.mapper.ContentMapper">
		<property name="readers">
			<map>
				<entry key="xml" value-ref="metal-core-xmlMapper"/>
				<entry key="json" value-ref="metal-core-jsonMapper"/>
			</map>
		</property>
		<property name="writers">
			<map>
				<entry key="xml" value-ref="metal-core-xmlMapper"/>
				<entry key="json" value-ref="metal-core-jsonMapper"/>
			</map>
		</property>
	</bean>

</beans>
