.splitX, .splitY { overflow:auto; }
.splitX { float:left; width:49%; height:100%; white-space:nowrap; }
.splitY { float:none; width:100%; height:49%; }
.splitPanel { height:100%; }

#handle.splitX, #handle.splitY { overflow:hidden; background:lightgray; }
#handle.splitX { width:2px; cursor:col-resize; }
#handle.splitY { height:2px; cursor:row-resize; }
#handle.highlight { background: darkgray; }

html, body { width:100%; height:100%; margin:0px; }
