<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
version="3.0">
	<display-name>metal-demo</display-name>
	<servlet>
		<servlet-name>metal.front.crossDomainRequestHandler</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>metal.front.crossDomainRequestHandler</servlet-name>
		<url-pattern>/xd/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>metal.front.serviceRequestHandler</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>metal.front.serviceRequestHandler</servlet-name>
		<url-pattern>/service/*</url-pattern>
		<url-pattern>/model/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:conf/spring/*.xml</param-value>
	</context-param>
	<mime-mapping>
		<extension>jx</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>metal-demo.html</welcome-file>
	</welcome-file-list>
</web-app>
