#top.frame_ { width:100%; height:2px; left:0px; top:0px; cursor:n-resize; }
#topLeft.frame_ { width:10px; height:2px; left:0px; top:0px; cursor:nw-resize; }
#topRight.frame_ { width:10px; height:2px; right:0px; top:0px; cursor:ne-resize; }
#bottom.frame_ { width:100%; height:2px; left:0px; bottom:0px; cursor:s-resize; }
#bottomLeft.frame_ { width:10px; height:2px; left:0px; bottom:0px; cursor:sw-resize; }
#bottomRight.frame_ { width:10px; height:2px; right:0px; bottom:0px; cursor:se-resize; }
#left.frame_ { width:2px; height:100%; left:0px; top:0px; cursor:w-resize; }
#leftTop.frame_ { width:2px; height:10px; left:0px; top:0px; cursor:nw-resize; }
#leftBottom.frame_ { width:2px; height:10px; left:0px; bottom:0px; cursor:sw-resize; }
#right.frame_ { width:2px; height:100%; right:0px; top:0px; cursor:e-resize; }
#rightTop.frame_ { width:2px; height:10px; right:0px; top:0px; cursor:ne-resize; }
#rightBottom.frame_ { width:2px; height:10px; right:0px; bottom:0px; cursor:se-resize; }

#handle.frame_ { width:100%; height:10px; cursor:move; position:static; }
#content.frame_ { background:transparent; height:100%; padding:2px; overflow:auto; white-space:nowrap; position:static; }
.frame { position:absolute; overflow:hidden; }
.frame_ { background:lightgray; position:absolute; overflow:hidden; }
.frame.highlight .frame_ { background: darkgray; }
