#handle.splitPanel,
#handle.splitPanel.x { width:2px; height:100%; cursor:col-resize; }
#handle.splitPanel.y { width:100%; height:2px; cursor:row-resize; }
#handle.splitPanel.highlight { background: darkgray; }
#handle.splitPanel { overflow:hidden; background:lightgray; }

.splitPanel,
.splitPanel.x { float:left; width:49%; height:100%; }
.splitPanel.y { float:none; width:100%; height:49%; }
.splitPanel.x { white-space:nowrap; }
.splitPanel { overflow:auto; }

.SplitPanel { height:100%; margin:0px; }

html, body { height:100%; }
