.tabPanel { padding:10px; overflow:hidden; }
#tabHead.tabTop,
#tabHead.tabBottom { height:auto; }
#tabBody.tabTop,
#tabBody.tabBottom { padding:10px; border:1px solid; }

.tabLabel { border:1px dotted; margin:0px 0px 0px 4px; cursor:default; }
.tabLabel.selected { border:1px solid; }
.tabLabel.highlight { background:lightgray; }
.tabTop .tabLabel { border-bottom:1px none; padding:4px 4px 0px; vertical-align:text-top; }
.tabTop .tabLabel.selected { border-bottom:3px solid white; }
.tabBottom .tabLabel { border-top:1px none; padding:0px 4px 4px; vertical-align:bottom; }
.tabBottom .tabLabel.selected { border-top:3px solid white; }

.tabContent { width:100%; display:none; }
.tabContent.selected { display:block; }
