#head.tabPanel { position:relative; }
#body.tabPanel { position:relative; padding:10px; border:4px solid lightgray; }

.tabPanel.tab { display:none; }
.tabPanel.tab.selected { display:block; }

.tabPanel.label { border:2px solid lightgray; margin:4px; padding:0px 4px; cursor:default; display:inline; }
.tabPanel.label.selected,
.tabPanel.label.highlight { background:lightgray; }

#head.tabPanel.bottom { top:44px; }
#body.tabPanel.bottom { bottom:20px; }

.TabPanel { padding:10px; overflow:hidden; }
