<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="test-core-xmlMapper" class="metal.core.mapper.XmlMapper">
		<property name="modelClasses" ref="test-core-modelClasses"/>
	</bean>
	
	<bean id="test-core-jsonMapper" class="metal.core.mapper.JsonMapper">
		<property name="modelClasses" ref="test-core-modelClasses"/>
	</bean>

</beans>
