<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="test-jax.xmlMarshaller" class="metal.jax.mapper.XmlMarshaller">
		<property name="modelMap" ref="test-jax.modelMap"/>
		<property name="validationEventHandler">
			<bean class="metal.jax.mapper.ObjectAdapter.EventHandler"/>
		</property>
		<property name="adapters">
			<list>
				<bean class="metal.jax.mapper.ObjectAdapter">
					<property name="marshaller" ref="test-jax.xmlMarshaller"/>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="test-jax.xmlMapper" class="metal.jax.mapper.XmlMapper">
		<property name="marshaller" ref="test-jax.xmlMarshaller"/>
		<property name="unmarshaller" ref="test-jax.xmlMarshaller"/>
		<property name="parent" ref="metal-jax.xmlMapper"/>
	</bean>
	
	<bean id="test-jax.jsonMapper" class="metal.jax.mapper.DefaultMapper">
		<property name="serializer" ref="metal-jax.jsonMapper"/>
		<property name="deserializer" ref="metal-jax.jsonMapper"/>
	</bean>

</beans>
