<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>metal-jax</display-name>
	<servlet>
		<servlet-name>sourceServlet</servlet-name>
		<servlet-class>metal.jax.SourceServlet</servlet-class>
		<init-param>
			<param-name>metal-jax-version</param-name>
			<param-value>metal-jax</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>sourceServlet</servlet-name>
		<url-pattern>/xd/*</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>jx</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index-demo.html</welcome-file>
	</welcome-file-list>
</web-app>
