<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>metal-jax</display-name>
	<servlet>
		<servlet-name>metal.front.crossdomain.CrossDomainRequestHandler</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>metal.front.crossdomain.CrossDomainRequestHandler</servlet-name>
		<url-pattern>/xd/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>metal.front.service.ServiceRequestHandler</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>metal.front.service.ServiceRequestHandler</servlet-name>
		<url-pattern>/service/*</url-pattern>
		<url-pattern>/model/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:conf/spring/*.xml</param-value>
	</context-param>
	<mime-mapping>
		<extension>jx</extension>
		<mime-type>application/javascript</mime-type>
	</mime-mapping>
</web-app>
