.splitX { float:left; }
.splitY { float:none; }
.splitX, .splitY { width:100%; height:100%; }

#panel1.splitX,
#panel2.splitX { width:49%; white-space:nowrap; }
#divider.splitX { width:2px; cursor:col-resize; }

#panel1.splitY,
#panel2.splitY { height:47%; }
#divider.splitY { height:2px; cursor:row-resize; }

#panel1.splitX, #panel1.splitY, #panel2.splitX, #panel2.splitY { overflow:auto; }
#divider.splitX, #divider.splitY { background: lightgray; overflow:hidden; }
#divider.highlight { background: darkgray; }

html, body { width:100%; height:100%; margin:0px; }
