.split_y, .split_x { width:100%; height:100%; margin:-20px 0px; }

.split_y #pane1.splitPart,
.split_y #pane2.splitPart { width:100%; height:49%; }
.split_y #divider.splitPart { width:100%; height:2px; cursor:row-resize; }
.split_y .splitPart { float:none; }

.split_x #pane1.splitPart, #pane1.splitPart,
.split_x #pane2.splitPart, #pane2.splitPart { width:49%; height:100%; }
.split_x #divider.splitPart, #divider.splitPart { width:2px; height:100%; cursor:col-resize; }
.split_x .splitPart, .splitPart { float:left; }

#divider.splitPart { background: lightgray; overflow:hidden; }
#divider.highlight { background: darkgray; }
