#table { border:solid 1px; width:400px; display:table; }
#table table { border:solid 1px; width:100%; }
#table td { border:solid 1px; text-align:center; }
#table th { border:solid 1px; -moz-user-select:none; }
#table th * { padding-left:20px; padding-right:20px; }
#table th .sortable { background: url(../../../images/icon_sort.gif) no-repeat right; }
#table th .sorted_ascending { background: url(../../../images/icon_sort_up.gif) no-repeat right; }
#table th .sorted_descending { background: url(../../../images/icon_sort_down.gif) no-repeat right; }
#table #headerLeft, #table #footerLeft { float:left; }
#table #headerRight, #table #footerRight { float:right; }
#table tr.selected { background: lightGray; }
